langchain==*
openai==*
python-dotenv==*
langchain-community==*
google-generativeai==*
langchain-google-genai==*
langchain-google-community==*
wikipedia==*
duckduckgo-search==*
streamlit==*
ipykernel==*
